# Ігнорування каталогу node_modules
node_modules/

# Ігнорування файлів логів
*.log

# Ігнорування файлів середовища
.env

# Ігнорування папок з артефактами збірки
dist/
build/

# Ігнорування файлів, що генеруються
*.DS_Store
*.tmp
*.bak

# Ігнорування папок для тимчасових файлів
tmp/

# Prettier cache
.prettierignore

